/* define variables */
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    display: border-box;
}

html{
    font-size: 62.5%; /* set 1rem = 10px */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--very-light-gray);
}

main{
    width: 33rem;
    margin: 8.8rem auto;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    border-radius: 10px;
    overflow: hidden; /* keep section corners inside main */
}

h2{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

p{
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: var(--transparent-white);
    margin-bottom: 2.6rem;
}

section{
    padding: 12rem 5rem 5rem 5rem;
    background-position: 5rem 5rem;
    background-repeat: no-repeat;
}

.sedans{
    background-image: url("images/icon-sedans.svg");
    background-color: var(--bright-orange);
}

.suvs{
    background-image: url("images/icon-suvs.svg");
    background-color: var(--dark-cyan);
}

.luxury{
    background-image: url("images/icon-luxury.svg");
    background-color: var(--very-dark-cyan);
}

button{
    background-color: var(--very-light-gray);
    height: 4.4rem;
    width: 14.5rem;
    border: none;
    border-radius: 2.1rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

button:hover, button:focus{
    background-color: transparent;
    border: 2px solid var(--very-light-gray);
    cursor: pointer;
}

.sedans button{
    color: var(--bright-orange);
}

.sedans button:hover, .sedans button:focus{
    color: var(--very-light-gray);
}

.suvs button{
    color: var(--dark-cyan);
}

.suvs button:hover, .suvs button:focus{
    color: var(--very-light-gray);
}

.luxury button{
    color: var(--very-dark-cyan);
}

.luxury button:hover, .luxury button:focus{
    color: var(--very-light-gray);
}

footer{
    margin-bottom: 1rem;
}

.attribution{ 
    font-size: 11px; text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}